<div class="card col-lg p-4">

    <div class="card-header message">
        Photo
    </div>
    <div class="card-body">
        <div class="card-title">
            <h4>{{ object.title }}</h4>
        </div>
        <div class="card-text">
            <p>Path: {{ object.image }}</p>
        </div>
        <div class="card-img">
            <img src="/media/{{ object.image }}" alt="{{ object.image }}">
        </div>

        <a href="/photo/{{ object.pk }}/" class="btn btn-primary">Edit Photo</a>
    </div>

</div>