<footer class="container-fluid text-center bg-dark text-light mt-5 p-3">

    <div class="row text-center">
        <div class="col">
            <a href="https://twitter.com/optitronic" class="twitter-follow-button" data-size="large" data-show-count="false"></a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-show-count="false"></a>
        </div>

        <div class="col text-center ">
            &copy;2022 <a href="https://github.com/thejacobhardman">Jacob's Github</a>
        </div>

        <div class="col text-center">
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="vWwSzcgD"></script>

            <div class="fb-share-button" data-href="{{ url }}" data-layout="button" data-size="large">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">
                </a>
            </div>
        </div>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
    </div>
</footer>