{% extends 'theme.html' %}

{% block title %}
List of Heroes
{% endblock title %}

{% block content %}

<div class="row">

    {% for hero in object_list %}
    <div class="card col-lg">
        <div class="card-body">
            <a href="/{{ hero.pk }}"><img src="{{hero.image}}" class="card-img" alt="Hero's Profile Image"/></a>
            <div class="card-title"><h5>{{ hero.name }}</h5></div>
            <div class="card-text">{{ hero.identity }}</div>
            <a href="/{{ hero.pk }}" class="btn btn-primary">View Hero</a>
        </div>
    </div>
    {% endfor %}

    <p>
        <a href="/add" class="btn btn-success m-5">Add New Hero</a>
    </p>

</div>

{% endblock content %}